http://download.pytorch.org/whl/rocm3.10/torch-1.8.1%2Brocm3.10-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
fastai
voila
ipywidgets
